/*** TYPOGRAPHY ***/

html {
    font-size: 16px;
}

body {
    font-family: sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    font-kerning: normal;
    color: $background-light;
}

p,
dd,
li,
th,
td {
    text-align: justify;
    overflow-wrap: break-word;
    word-wrap: break-word;
    color: $text-color-light;
}

p,
hr,
table,
.table-responsive,
ol,
ul,
dl,
dd,
pre,
blockquote,
fieldset {
    margin-bottom: 1em;
}

a {
    color: $hover;
    text-decoration: none;
    transition: color 0.2s ease-in;
}

a:hover {
    color: $text-color-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0.6em;
    font-weight: bold;
    color: $text-color-light;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.7rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

h6 {
    font-size: 1rem;
    font-weight: normal;
    font-style: italic;
}

hr {
    border: 0.15em solid $text-color-light;
    border-radius: 0.3em;
    background: $text-color-light;
}

abbr {
    text-decoration: underline dotted;
}

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}
