@import 'fonts';
@import 'old';
@import 'variables';
@import 'dark/header';
@import 'dark/nav';
@import 'dark/footer';
@import 'dark/small';
@import 'dark/report';
@import 'dark/kmom';
@import 'gallery';
@import 'dark/typography';

.icon {
    font-size: 8em;

    &one {
        color: $icon-sass;
        padding-right: 2em;
    }

    &two { color: $icon-html; }
    

    &three {
        color: $icon-js;
        float: right;
        padding-right: 50px;
    }
}
