@import '../../node_modules/normalize.css/normalize';
@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';

@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans&display=swap');

@import 'old';
@import 'report';
@import 'kmom';

* {
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lora', serif;
}

.icon {
    font-size: 8em;

    &one {
        color: #CF649A;/* stylelint-disable-line */
        padding-right: 2em;
    }

    &two { color: #E44D26; }/* stylelint-disable-line */
    

    &three {
        color: #F0DB4F;/* stylelint-disable-line */
        float: right;
        padding-right: 50px;
    }
}
