@import 'fonts';
@import 'old';
@import 'variables';
@import 'light/header-light';
@import 'light/nav-light';
@import 'light/footer-light';
@import 'light/small-light';
@import 'light/report-light';
@import 'light/kmom-light';
@import 'gallery';
@import 'light/typography-light';

.icon {
    font-size: 8em;

    &one {
        color: $icon-sass;
        padding-right: 2em;
    }

    &two { color: $icon-html; }
    

    &three {
        color: $icon-js;
        float: right;
        padding-right: 50px;
    }
}
