/*** BASIC ***/
$background-dark: #000;
$background-light: #eddff3;

/*** KMOM sida ***/
$kmom-box-color: #2d7e10;
$kmom-box-border: #8f007e;

/*** About sida iconer ***/
$icon-sass: #cf649a;
$icon-html: #e44d26;
$icon-js: #f0db4f;

/*** Typography ***/
$text-color-dark: #fff;
$text-color-light: #000;
$hover: #298f04;
$footer-text: #0d2c02;

/*** FOOTER ***/
$background-footer-light: #8f007e;
$background-footer-dark: #3d3a3dab;
